*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background: url('/IMG/bg.jpg');
  cursor: pointer;
  background-size: cover;
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 350px;
  width: 100%;
  background: #ffffff28;
backdrop-filter: blur(8px);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(44, 44, 44, 0.288); 
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

.wrapper .input_field{
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
border: none;
  width: 100%;
  color: rgba(255, 255, 255, 0.767);
  
  padding: 10px;
  background-color: #ffffff25;
}
::placeholder{
  color: #fff;
}
.wrapper textarea{
  resize: none;
  height: 80px;
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background:#f5aeb538;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
  border-radius: 3px;
}
.wrapper .btn input[type="submit"]:hover{
  background-color: #e0e0e048;
  border-radius: 20px;
  font-size: 12px;

}
.wrapper .btn input[type="submit"]:active{
transform: translateY(-2px);  
}

#error_message{
  margin-bottom: 20px;
  background: #eeabaf7c;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  color: rgb(241, 241, 241);
  transition: all 0.5s ease;
  font-weight: bold;
}