
@import url(../CSS/reset.css);
@import url(../CSS/Utiles.css);

body {
  overflow-x: hidden;
}

label {
  font-weight: bold;
}

.row-2 {
  background: url(./IMG/deafults/book-2.png) center no-repeat;
  background-size: cover;
}
.row {
  margin-bottom: 10px;
}
.in-img-text h1,
.in-img-text h3 {
  color: rgb(255, 255, 255);
  transition: all ease 0.3s;
}

.in-img-text h1:hover,
.in-img-text h3:hover {
  color: #c81717;
}

.asterix {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.nav-bar {
  width: 80%;
  margin: auto;
  /* height: 4.7rem; */
}

.form-element {
  border-left: 5px solid red;
  padding-left: 50px;
  padding-right: 30px;
}

.nav-bar li {
  transition: all ease 0.2s;
  margin: 1rem 1.5rem;
}

.nav-bar li:hover {
  transform: translateY(-2px);
  transition: transform ease 0.35s;
}

.nav-bar .categorie:hover {
  /* height: 5rem; */
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 0.6rem 1.2rem -0.2rem,
    rgba(0, 0, 0, 0.3) 0 0.3rem 0.7rem -0.3rem;
}

.nav-bar a {
  border-radius: 0.6rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem;
  /* line-height: 4.7rem; */
}

.nav-bar a:hover {
  background-color: rgba(255, 27, 54, 0.972) !important;
  color: rgb(0, 0, 0);
}

.upper-main-body .carousel:hover,
.philosophy-img-pop-up .carousel:hover,
.novels-img-pop-up .carousel:hover {
  filter: brightness(95%);
}

h2 {
  color: #000;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 3rem 0 6rem;
}

h2::after {
  content: "";
  width: 10rem;
  position: absolute;
  margin: 0 auto;
  height: 0.4rem;
  border-radius: 0.1rem;
  background: #dc3545;
  left: 0;
  right: 0;
  bottom: -2rem;
}

.carousel {
  width: 95%;
  margin: auto;
  /* padding: 0 2rem; */
  /* centre aligns the books in slider */
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.carousel-inner {
  width: 90%;
}

.carouselImage {
  width: 68vw;
}

.carousel .item {
  color: #000000;
  min-height: 32.5rem;
  text-align: center;
  overflow: hidden;
  /* below fixes side shadows of book item got cut */
  padding-left: 2rem;
  padding-right: 2rem;
}
/* Added to make height of all slider con of books same */

.bookCon {
  height: 585px;
}
.addToCart-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.carousel .thumb-wrapper {
  height: 55%;
  padding: 2rem;
  margin: 1rem;
  background: #ededed;
  border-radius: 0.6rem;
  border: #000;
  text-align: center;
  position: relative;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
}
.carousel .thumb-wrapper:hover{
  transform: scale(1.1);
}
.carousel .item .img-box {
  height: 12rem;
  margin-bottom: 2rem;
  width: 100%;
  position: relative;
}

.carousel .item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.carousel .item h4 {
  font-size: 1.4rem;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
  /* margin-bottom: 0.5rem; */
  padding: 1.5rem;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
  color: #000000;
  background: #b7a1d6;
  box-shadow: none;
}

.carousel .thumb-content .btn{
    font-size: 1.5rem;
    font-weight: bold;
}
.carousel .thumb-content .btn i {
  margin-left: 0.5rem;
  padding: 1rem;
}

.carousel .item-price {
  font-size: 1.5rem;
  padding: 0.2rem 0;
}

.add-to-cart-btn {
  width: 8rem;
}

.carousel .item-price strike {
  opacity: 0.7;
  margin-right: 0.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  height: 3.3rem;
  width: 3.3rem;
  background: #c60000;
  margin: auto 0;
  border-radius: 8.5rem;
  opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #dc3545;
  opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 3.6rem;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -1.9rem 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}

.carousel-control-prev i {
  margin-left: -0.2rem;
}

.carousel-control-next i {
  margin-right: -0.4rem;
}

.carousel-indicators {
  bottom: -5rem;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 1rem;
  height: 1rem;
  margin: 0.4rem;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li {
  background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.6);
}

.star-rating li {
  padding: 0;
}

.star-rating i {
  font-size: 1.4rem;
  color: #e1b01f;
}

main .book-name {
  min-height: 3.5rem;
  height: 9rem;
}

.second-navbar-bi-list-clicked {
  z-index: 1;
  transition: all ease 0.5s;
  top: -40rem;
}

.my-5 .container {
  background-color: #dc3545;
  width: 100%;
}

.footer-container {
  width: 100%;
}

.footer-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: bold;
  transition: all ease 0.3s;
  padding: 9px;
  width: 80%;
}

.footer-heading:hover {
  background-color: #ffffff34;
  
cursor: pointer;
}

.footer-text {
  margin: 4px;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 10px;
  background-color: #ffffff17;
  transition: all .3s;

}

.footer-text:hover {
  transition: all ease 0.3s;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: #ffffff5b;

}

.contact-details {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.896);
}

.container {
  background-color: #fff;
  max-width: 100%;
}

.my-5 {
  background-color: #cc3444;
}

.space {
  height: 230px;
  background-color: #8fcadc;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-bar li a {
    font-size: 0.9rem;
    padding: 1rem 0.2rem;
  }

  .nav-bar li {
    margin: 1rem;
  }
}

.social-links {
  /* margin-left:1000px; */
  margin-bottom: 10px;
  padding-bottom: -50px;
  flex-wrap: wrap;
  gap: 2px;
  display: flex;
  width: 32%;
  
}
@media only screen and (min-width: 768px) {
  .social-links {
    position: relative;
    left: 25rem;
  }
}

/* Custom scroll bar  */
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  box-shadow: inset 2px 2px 5px 0 rgba(#948e8e, 0.5);
  border-radius: 100px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 25px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff0000;
  /* border: 1px solid rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
  cursor: pointer;
  /* padding: 15px;  */
  border-radius: 50px;
  font-size: 25px;
  margin: auto;
  width: 50px;
  height: 50px;
}

#myBtn i {
  font-weight: bold;
}

#myBtn:hover {
  background-color: #ff0000;
  color: #000000;
  /* border: 3px solid rgb(0, 0, 0); */
}
