@import url(../CSS/Utiles.css);
@import url(../CSS/reset.css);
@import url(../Home-Page/style.css);






.main-header {
  height: 11rem;
  
}


.nav-bar {
  height: 50px;
  display: flex;

  
  

}


.main-body {
  z-index: -6;
  width: 100%;
  margin-top: 12.9rem;
  background: rgb(210,9,102);
background: linear-gradient(193deg, rgba(221,9,102,0.375875350140056) 0%, rgba(182,35,35,1) 83%);
}

.dropdown {
  width: 40px;
}
.dropdown-toggle {
  background: rgb(94,65,75);
  background: linear-gradient(90deg, rgba(94,65,75,1) 35%, rgba(255,0,70,1) 100%);
  font-size: medium;
  color: #fff;
  
}






.thumb-wrapper {
  padding: 2.5rem 1.5rem;
  background: #fff;
  border-radius: 0.6rem;
  text-align: center;
  position: relative;
  transition: .3s ease;
}
.thumb-wrapper:hover{
  transform: scale(1.05); 
}
 h4 {
  font-size: 1.8rem;
}
.thumb-wrapper h4,
.thumb-wrapper .item p,
.thumb-wrapper .item ul {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.thumb-content .btn:hover,
.thumb-content .btn:focus {
  color: #fff;
  background: #dc3546e2;
}

.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 1.4rem;
  color: #ffc000;
}

.thumb-wrapper {
  max-width: 22.6rem;
  min-height: 40.1rem;
}
.img-fluid:hover{
  transition: .5s ease;
  transform: scale(1.05);
}
.book-name {
  min-height: 4.3rem;
  
}

.second-navbar-bi-list-clicked {
	z-index: 1;
	transition: all ease .5s;
	top: -40rem;
  
}

.search-button {
  background:transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-button i {
  font-size: 1.5rem; 
}

.my-5 .container {
  background-color: #cc3444;
  width: 100%;
}

.footer-container {
  width: 100%;
}

.footer-heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: bold;
  width: 150px;
  transition: all ease 0.3s;
}

.footer-heading:hover{
  transform: scale(1.2);
}

.footer-text{
  font-size:1.4rem;
  color: rgb(215, 203, 203);
}

.footer-text:hover{
  text-decoration: underline;
  transition: all ease 0.3s;
  transform: scale(1.05); 
}

.contact-details{
  font-weight: bold;
  color: white;
}

.container {
  background-color: #FFF;
  max-width: 100%;
}

.my-5 {
  background-color: #cc3444;

}

.space {
  height: 230px;
  background-color: #cc3444;
}
